version: "3.8"

services:
  api:
    image: dannoruwaanush/bnpl-aspnet-api:latest  #dockerusername/image-name
    container_name: bnpl-aspnet-api
    ports:
      - "5106:5106"
    environment:
      ASPNETCORE_ENVIRONMENT: Docker
      ASPNETCORE_URLS: http://+:5106

      DB_HOST: db
      DB_NAME: my_db
      DB_USER: root
      DB_PASSWORD: ""
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mariadb:10.4
    container_name: mariadb-container
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: my_db
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-container
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8081:80"
    depends_on:
      - db
    networks:
      - app-network

volumes:
  db-data:

networks:
  app-network:
    driver: bridge